/* copy this file, rename it to "env.json" and remove this comment in the copied file */
{
  "appName": "shift",
  "databaseUri": "mongodb://127.0.0.1:27017/shift",
  "appId": "appid",
  "masterKey": "masterKey",
  "port": 1337,
  "serverUrl": "http://localhost:1337/parse",
  "dashboardUser": "user",
  "dashboardPass": "pass",
  "dashboardHostnames": ["localhost", "127.0.0.1"],
  "randomStringForHash": "todo update"
}
