
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shift-primary: mat.define-palette(mat.$indigo-palette);
$shift-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shift-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shift-theme: mat.define-light-theme((
  color: (
    primary: $shift-primary,
    accent: $shift-accent,
    warn: $shift-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($shift-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

.input-label {
    @apply block mb-2 text-sm font-medium text-gray-900;
}

input, textarea {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}

.icon-input {
    @apply relative mb-4;

    div {
        @apply absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none h-8 w-8 pt-2;

        svg {
            @apply w-5 h-5 text-gray-500;
        }
    }

    input, select {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5;
    }
}

.btn-wide {
    @apply text-white w-full bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-300 disabled:bg-slate-300 disabled:cursor-not-allowed font-medium rounded-lg text-base px-5 py-3.5 mr-2 mt-4 focus:outline-none transition-all;
   
}

.btn {
    @apply text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-300 disabled:bg-slate-300 disabled:cursor-not-allowed font-medium rounded-lg text-base px-5 py-2.5 mr-2 mt-4 focus:outline-none transition-all;
   
}

.btn-secondary {
    @apply text-orange-500 border-2 border-orange-500 hover:bg-orange-500 disabled:border-slate-300 disabled:text-slate-300 disabled:cursor-not-allowed hover:text-white focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-base px-5 py-2 mr-2 mt-4 focus:outline-none transition-all;

}

.shift-card {
    @apply text-sm border-2 rounded-xl bg-slate-50 p-4;
}

.shift-header {
    @apply text-4xl font-bold mb-4;
}

.shift-list-item {
    @apply rounded-xl border-2 border-dotted p-4 mt-3 cursor-pointer font-medium hover:bg-slate-100 active:bg-slate-200 transition-all;
    span {
        @apply text-slate-400 text-sm;
    }
}

.shift-list-item-active {
    @apply rounded-xl border-2 border-solid border-orange-400 accent-orange-400 p-4 mt-3 cursor-pointer font-medium hover:bg-slate-100 active:bg-slate-200 transition-all;
    span {
        @apply text-orange-400 text-sm;
    }
}

.shift-info-card {
    @apply rounded-xl border-2 border-dotted px-4 py-3;
}

.shift-content {
    @apply m-8 lg:px-40 xl:px-72;
}