<div class="shift-content">
    <shift-back-arrow (backClick)="navigation.home()" [title]="'Helfereinsatz'"></shift-back-arrow>
    <ng-container *ngIf="event">

        <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4">
            <div class="shift-info-card">
                <div class="text-xl font-semibold pb-1">Eventinfos</div>
                <div>{{event.get('name')}}</div>
                <div class="text-slate-500">Dauer des gesamten Events: <br>{{event.get('start') | fromTo:
                    event.get('end'):
                    true}}</div>
            </div>

            <div class="shift-info-card" *ngIf="currentUser">
                <div class="text-xl font-semibold pb-1">Deine Infos</div>
                <div><span class="font-semibold">Name:</span> {{currentUser.get('firstName')}}
                    {{currentUser.get('lastName')}}</div>
                <div><span class="font-semibold">Mail:</span> {{currentUser.get('email')}}</div>
                <div><span class="font-semibold">Tel.:</span> {{currentUser.get('phone')}}</div>
                <button class="btn-secondary" (click)="editUserInfo()">Bearbeiten</button>
            </div>


            <div class="shift-info-card" *ngIf="event?.get('showShiftPlanToVolunteers')">
                <div class="text-xl font-semibold pb-1">Zugeteilte Schichten</div>
                <div *ngFor="let shift of userShifts ?? []">- {{shift.get('start') | fromTo: shift.get('end'): true}}
                </div>
                <div *ngIf="(userShifts ?? []).length === 0">keine</div>
                <button class="btn-secondary" (click)="navigation.userEventShiftTable(params.eventId)">Schichtplan
                    öffnen</button>
            </div>

            <shift-event-document-container *ngIf="event?.get('documentUploadEnabled')"
                [eventId]="params.eventId"></shift-event-document-container>

            <shift-payout-user-container *ngIf="event?.get('volunteerPayoutForVolunteersEnabled')"
                [eventId]="params.eventId" [userId]="currentUser?.id"></shift-payout-user-container>

            <div class="shift-info-card" *ngIf="event?.get('bankingInformationEnabled') && currentUser">
                <div class="text-xl font-semibold pb-1">Deine Bankverbindung</div>
                <div><span class="font-semibold">IBAN:</span> {{currentUser.get('iban')}}</div>
                <div><span class="font-semibold">Name:</span> {{currentUser.get('ibanName')}}</div>
                <div><span class="font-semibold">Adresse:</span> {{currentUser.get('address')}}, 
                    {{currentUser.get('postalCode')}} {{currentUser.get('place')}}</div>
                <button class="btn-secondary" (click)="navigation.userBankingInformationEdit(currentUser.id, event.id)">Bearbeiten</button>
            </div>

            <button class="btn-secondary" *ngIf="event?.get('volunteerContractForVolunteersEnabled')"
                (click)="downloadVolunteerContract()">Vertrag herunterladen</button>

        </div>
    </ng-container>
</div>