<div class="shift-info-card">
    <div class="text-xl font-semibold pb-1">Auszahlung</div>
    <ng-container *ngIf="!userPayoutInfo; else loaded">
        <shift-loader></shift-loader>
    </ng-container>
    <ng-template #loaded>
        <div *ngFor="let item of userPayoutInfo?.shifts ?? []" class="shift-list-item">
            {{item.shift.get('start') |fromTo: item.shift.get('end'): true}}
            <br><span>{{item.shiftPayoutTotal | currency: 'CHF '}}</span>
        </div>
        <div *ngIf="(userPayoutInfo?.shifts ?? []).length === 0">keine Auszahlungsinformationen verfügbar</div>
        <div *ngIf="(userPayoutInfo?.shifts ?? []).length > 0" class="font-medium pl-4 pt-4">Total:
            {{userPayoutInfo?.payoutTotal | currency: 'CHF '}}</div>
    </ng-template>
</div>