<div class="m-8" *ngIf="event">
    <div class="py-12">
        <shift-header-logo></shift-header-logo>
    </div>
    <div class="shift-card mb-6">
        Hallo 😀<br>
        Hier kannst du dich als HelferIn für den Event <span
            class="text-orange-500 font-medium">{{event.get('name')}}</span> anmelden.<br><br>
        Sobald du alle Angaben gemacht hast, werden dir alle Informationen nochmals in einer Übersicht dargestellt und
        du kannst deinen Helfereinsatz definitiv bestätigen.
    </div>
    <button class="btn-wide" type="submit" (click)="nextStep()">Weiter</button>
</div>