<div mat-dialog-content>
    <div *ngIf="searchMode; else addHelper">
        <shift-volunteer-list [eventId]="event.id"
            (userEventSelected)="selectUser($event.get('user'))"></shift-volunteer-list>
    </div>
    <ng-template #addHelper>
        <shift-volunteer-edit-form [eventId]="event.id"
            (createdUserEvent)="selectUser($event.get('user'))"></shift-volunteer-edit-form>
    </ng-template>
</div>
<div mat-dialog-actions>
    <button class="btn-secondary" mat-dialog-close>Abbrechen</button>
    <button class="btn" *ngIf="searchMode" (click)="searchMode = !searchMode">Neue/n Helfer/in hinzufügen</button>
</div>