<!--
icon textfeld
<label for="input-group-1" class="input-label">Your Email</label>
<div class="icon-input">
  <div>
    <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
  </div>
  <input type="text" placeholder="deine@mail.com">
</div>

normal textfield
<label for="input-group-1" class="input-label">Your Email</label>
<input type="text" placeholder="deine@mail.com">
-->
<shift-global-loader></shift-global-loader>
<router-outlet></router-outlet>