<div #contextMenu class="context-menu">
    <div class="context-item" (click)="editContextMenuSelection()">Bearbeiten</div>
    <div class="context-item" (click)="editUserForShiftContextMenuSelection()">HelferIn Ändern</div>
    <div class="context-item" (click)="deleteContextMenuSelection()">Löschen</div>
</div>
<div class="pb-4" *ngIf="!readonly">
    <div class="shift-card flex mt-4" style="padding-top: 0px;">
        <div class="flex-1">
            <button class="btn" (click)="changeEditMode()">{{editMode ? 'Ansichts Modus' :
                'Bearbeiten'}}</button>
            <button class="btn-secondary" (click)="toggleIncludeWishes()">{{includeWishesInTable ?
                'Wünschschichten ausblenden' : 'Wünschschichten anzeigen'}}</button>
            <button class="btn-secondary" (click)="pickAddUser()" *ngIf="editMode">{{currentAddUser ?
                currentAddUser.get('firstName') + ' ' + currentAddUser.get('lastName') : 'Schicht hinzufügen'}}</button>

        </div>

        <div class="justify-end" *ngIf="eventId">
            <div [matMenuTriggerFor]="menu"
                class="mt-3.5 text-orange-500 py-3 px-5 rounded-xl hover:bg-slate-100 active:bg-slate-200 cursor-pointer transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6"
                    viewBox="0 0 128 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                        d="M64 360c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zm0-160c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zM120 96c0 30.9-25.1 56-56 56S8 126.9 8 96S33.1 40 64 40s56 25.1 56 56z" />
                </svg>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="navigation.eventDetailEdit(eventId)">
                    <span>Eventinfos Bearbeiten</span>
                </button>
                <button mat-menu-item (click)="navigation.shiftsOverview(eventId)">
                    <span>Schichten</span>
                </button>
                <button mat-menu-item (click)="navigation.eventCategoryOverview(eventId)">
                    <span>Kategorien</span>
                </button>
                <button mat-menu-item (click)="navigation.payoutConfigOverview(eventId)">
                    <span>Payout Config</span>
                </button>
                <button mat-menu-item (click)="navigation.eventVolunteerOverview(eventId)">
                    <span>Helferübersicht</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>
<div class="table-container no-select">
    <table class="relative" (contextmenu)="onContextMenu($event)" #shiftTableElement>
        <thead>
            <tr>
                <th>Kategorien</th>
                <ng-container *ngFor="let timeSlot of shiftTable?.headerTimeSlots ?? []; let i = index">
                    <th>
                        <div [style]="'width: ' + shiftTableService.widthInterval + 'px;'">
                            {{timeSlot.start | fluffyTime}}
                        </div>
                        <div class="absolute top-0 h-full border-l border-dotted text-white">
                            .
                        </div>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let tableCategory of shiftTable?.categories ?? []; let iCategory = index">
                <tr>
                    <td class="bg-white z-20">{{tableCategory.category.get('name')}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="100%" (click)="onTableClick(tableCategory.category, $event)">
                        <ng-container *ngFor="let tableShift of tableCategory.shifts; let iTableShift = index">
                            <div [style]="'background-color: ' + shiftTableService.userColorMap.get(tableShift.shift.get('user').id) +
                            '; margin-left: ' + tableShift.marginLeftPx + 'px; width: ' + tableShift.widthPx + 'px'"
                                [class]="(editMode ? 'table-shift-item-edit ' : ' ') + ' rounded px-2  text-gray-700'"
                                (mousedown)="onShiftMouseDown($event, tableShift)"
                                [id]="tableShiftIdPrefix + iCategory + ':' + iTableShift">
                                {{tableShift.shift.get('user').get('firstName')}}
                                {{tableShift.shift.get('user').get('lastName')}}
                            </div>
                        </ng-container>
                        <span *ngIf="tableCategory.shifts?.length === 0" class="text-white">.</span>
                    </td>
                </tr>
                <tr *ngIf="(tableCategory.userWishs ?? []).length > 1">
                    <td></td>
                    <td colspan="100%">
                        <ng-container *ngFor="let tableShift of tableCategory.userWishs">
                            <div [style]="'margin-left: ' + tableShift.marginLeftPx + 'px; width: ' + tableShift.widthPx + 'px'"
                                class="shift-entry rounded px-2 bg-gray-300 text-gray-700">
                                {{tableShift.shift.get('user').get('firstName')}}
                                {{tableShift.shift.get('user').get('lastName')}}
                            </div>
                        </ng-container>
                        <span *ngIf="tableCategory.userWishs?.length === 0" class="text-white">.</span>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<div #shiftTableUsersElement>
    <div class="font-medium mt-4">Legende:</div>
    <div class="w-fit">
        <p *ngFor="let item of shiftTableService.userColors" [style]="'background-color: ' + item.colorCode + ';'"
            class="rounded px-2 py-0.5 mt-0.5 text-slate-600">
            {{item.user.get('firstName')}} {{item.user.get('lastName')}}
        </p>
    </div>
</div>
<button class="btn-secondary" (click)="print()">Drucken</button>