<table>
    <ng-container *ngFor="let shiftTableItem of shiftTable ?? []">
        <tr>
            <td>{{shiftTableItem.category.get('name')}}</td>
        </tr>
        <tr>
            <ng-container *ngFor="let timeSlot of shiftTableItem.timeSlots">
                <td>
                    {{timeSlot.timeSpan.start | fromTo: timeSlot.timeSpan.end}}
                    <ng-container *ngFor="let userShift of timeSlot.userShifts">
                        {{userShift.get('user').get('firstName')}} {{userShift.get('user').get('lastName')}}
                    </ng-container>
                </td>
            </ng-container>
        </tr>
    </ng-container>
</table>