<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quittung für Helfereinsatz am Rattenfest</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <div class="quittung">
        <table style="width: 100%;">
            <tr>
                <td style="width: 50%;"></td>
                <td style="width: 50%;">
                    <div style="font-size: 10px; padding-bottom: 10px;">Rattenfest Oberseestrasse 10 - 8640
                        Rapperswil-Jona</div>
                    <strong>Name:</strong> V_FIRSTNAME V_LASTNAME<br>
                    <strong>Mail:</strong> V_MAIL<br>
                    <strong>Tel:</strong> V_PHONE<br>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 3rem;">
                    <div style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid rgb(249 115 22);">
                        <strong>Lohnquittung</strong>
                    </div>
                    <div>Arbeitsdatum: CURRENT_DATE</div>
                </td>
                <td></td>
            </tr>
        </table>


        <div
            style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid rgb(249 115 22); margin-top: 80px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 80%;">
                        Beschreibung
                    </td>
                    <td style="width: 20%; text-align:right;">
                        Betrag
                    </td>
                </tr>
            </table>
        </div>
        <table style="width: 100%;">
            <tr>
                <td style="width: 80%;">
                    Lohn Helfereinsatz Rattenfest (SHIFT_CATEGORY_NAMES)
                </td>
                <td style="width: 20%; text-align:right;">
                    PAYOUT_TOTAL
                </td>
            </tr>
            <tr>
                <td style="width: 80%; text-align:right; padding-top: 20px;">
                    <strong>Gesamt: </strong>
                </td>
                <td style="width: 20%; text-align:right; padding-top: 20px;">
                    <strong>PAYOUT_TOTAL</strong>
                </td>
            </tr>
        </table>

        <p style="margin-top: 50px;"><strong>Bestätigung:</strong></p>
        <p>Ich bestätige hiermit den Erhalt von PAYOUT_TOTAL als Entschädigung für meinen Helfereinsatz am Rattenfest.</p>
        <br>
        <p>Unterschrift: __________________________</p>

        <p>Vielen Dank für deine Unterstützung!</p>

        <p style="text-align:center; font-size: 11px; color: rgba(0, 0, 0, 0.46); margin-top: 4rem;">Rattenfest
            Oberseestrasse 10 - 8640 Rapperswil-Jona E-Mail: info@rattenfest.ch
            Telefon: +41765635286 Webseite: https://rattenfest.ch/ </p>
    </div>

</body>

</html>